node_modules
.next
.env*
.env.local
.DS_Store
.sanity
dist


# Sanity dataset exports
backups/
production-export-*/
*.tar.gz
*.tar
# Ignore all archive files in any subfolder
*.tar.gz
unidecor-cms/*.tar.gz