.section {
  background: #f1ede7;
  padding: 140px 0;
  min-height: 90vh;
}

.inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 36px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 80px;
}

/* LEFT */
.sticky {
 position: -webkit-sticky;
  position: sticky;
  top: 150px;
  padding-left: 20px;
  align-self: start;
  border-left: 2px solid rgba(176, 141, 87, 0.3);
}

.sticky::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 0;
  width: 2px;
  height: 120px;
  background: linear-gradient(
    to bottom,
    var(--accent),
    transparent
  );
}

.kicker {
  font-size: 13px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: 16px;
  display: inline-block;
}

.title {
  font-size: clamp(2.6rem, 4vw, 3.4rem);
  font-weight: 700;
  line-height: 1.1;
}

/* RIGHT */
.list {
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.item {
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(0,0,0,0.08);

  opacity: 0;
  transform: translateY(28px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.item h3 {
  font-size: 1.4rem;
  font-weight: 600;
   letter-spacing: -0.01em;
  margin-bottom: 12px;
}

.item p {
  font-size: 1rem;
  line-height: 1.7;
  color: #444;
}
.itemVisible {
  opacity: 1;
  transform: translateY(0);
}
.item svg {
  margin-bottom: 12px;
  color: var(--accent);
  opacity: 0.9;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.itemVisible svg {
  transform: translateY(-2px);
  opacity: 1;
}
/* .spacer {
  height: 30vh;
} */
/* MOBILE */
@media (max-width: 900px) {
  .section {
    padding: 72px 0;
    /* height: auto; */
    min-height: unset;
  }

  .inner {
    grid-template-columns: 1fr;
    gap: 42px;
    padding: 0 20px;
  }

  .sticky {
    position: relative;
    top: auto;
    padding-left: 14px;
    margin-bottom: 14px;
    
  }
  .title{
    font-size: clamp(2rem, 6vw, 2.4rem);
  }
  .sticky::before {
    display: none;
  }
.item {
    padding-bottom: 10px;
  }

  .item svg {
    margin-bottom: 4px;
  }
  .list {
    gap: 40px;
  }
  .spacer{
    display: none;
  }
}